.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
height: 100vh;
gap: 0.5rem;
}
.color{
  width: 300px;
  height: 200px;
}
.answers{
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
}
button{
  padding: 20px;
  width: 100px;
}
.correct{
  background-color: green;
  color: white;
  width: 100px;
 padding: 1.5rem;
  text-align: center;
}
.wrong{
  background-color: red;
  color: white;
  width: 100px;
 padding: 1.5rem;
  text-align: center;
}